<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      layout:decorate="layout/main.html">
<div class="container col-6 mx-auto" layout:fragment="content">
  <div class="alert alert-danger alert-dismissible fade show" role="alert"
      th:if="${param.errorcurrentpassword != null}">
    <strong>Incorrect password!</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  <div class="alert alert-danger alert-dismissible fade show" role="alert"
       th:if="${param.errorpasswords != null}">
    <strong>Passwords don't match!</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  <div class="alert alert-success alert-dismissible fade show" role="alert"
       th:if="${param.success != null}">
    <strong>Account created successfully!</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  <form th:action="@{'/updatepassword'}" method="post">
    <div class="row mt-2">
      <div class="col-4">
        CURRENT PASSWORD :
      </div>
      <div class="col-6">
        <input class="form-control" type="text" name="current_password">
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-4">
        NEW PASSWORD :
      </div>
      <div class="col-6">
        <input class="form-control" type="text" name="new_password">
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-4">
        REPEAT NEW PASSWORD :
      </div>
      <div class="col-6">
        <input class="form-control" type="text" name="re_new_password">
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-12">
        <button class="btn btn-success">UPDATE PASSWORD</button>
      </div>
    </div>
  </form>
</div>
</html>